@media(max-width:768px){/*手机*/
	.pjMFT_Ng{font-size:15px;}
}
@media(min-width:768px){
	.pjMFT_Ng{font-size:18px;}  
}
@media(min-width:992px){
	.pjMFT_Ng{font-size:18px;}  
}
@media(min-width:1200px){
	.pjMFT_Ng{font-size:1s8px;}  
}
.pjMFT_logo{
	width: 190px;
	margin-top: -16px;
}
.pjMFT_slide{
	margin-top:-20px;
}
.pjMFT_body{
	width: 100%;
	background: black;
}
.pjMFT_1bg{
	background: #7C5EAA;
	margin-top: 30px;
}
.pjMFT_1text{
	font-size: 24px;
	color: white;
}
.pjMFT_2bg{
	background: white;
	padding-top: 30px;
}
.pjMFT_2text{
	font-size: 24px;
	color: #5E3C28;
}
.pjMFT_3bg{
	background: #64498C;
	margin-top: 30px;
}
.pjMFT_3text{
	font-size: 20px;
	color: white;
}
.pjMFT_3pt{
	margin:50px 0 0 0;
}
.pjMFT_4bg{
	background: #CCCCCC;
	padding: 30px 0 20px 0;
}
.pjMFT_4text{
	font-size: 20px;
	color: #3D2D55;
}
.pjMFT_footer{
	width: 100%;
	background-color: black;
	box-sizing: border-box;
	color: rgb(153, 151, 156);
	display: block;
	font-size: 14px;
	line-height: 20px;
	padding: 30px 0 30px 0;
	text-align: center;
}